@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #000000;
    --black: #000000;
    --bg: #000000;
    --border: 1rem solid #000000;
    --swiper-navigation-size: 44px;
}

::selection{
    background-color: beige;
}

*{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}

html{
    font-size: 24px;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 5rem;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: #292323;
}

.head{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position:relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.head .nav a{
    margin: 0 1rem;
    font-size: 16px;
    color: white;
}

.head .nav a:hover{
    width: 100%;
    background-color: #E0BE9A;
    border-bottom: .1rem solid var(#E0BE9A);
    padding-bottom: .5rem;
}

.header .icons div{
    color: white;
    cursor: pointer;
    font-size: 40px;
    margin-left:32px;
}

.header .icons div:hover{
    color: #E0BE9A;
}

#menu-btn{
    display: none;
}

.header .search{
    position: absolute;
    top: 115%;
    right: 7%;
    background: white;
    width: 80px;
    display: flex;
    align-items: center;
}

.header .search input{
    height: 100%;
    width: 100%;
    font-size: 25.6px;
    color: black;
    padding: 16px;
    text-transform: none;
}